body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.middle-image-1{
    width: 100%;
    height: auto;
    margin-top: -8%;
}
.middle-image-2{
    width: 100%;
    height: auto;
    /* margin-top: -8%; */
}